
.testcolor{
    color : #262322;
    color : #63372C;
    color : #C97D60;
    color : #FFBCB5;
    color : #F2E5D7;
    color : #00E0CA;
    color : #75B9BE;
    color : #A8CCC9;
    color : #B3D6C6;  
    color : #DCEAB2;
    color : #C7D66D;
    color : #EAEAEA;
    color : #CBC5EA;
}


/*------------------------Global style--------------------------*/
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    /* background-color: #75B9BE; */
    color:#262322;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
i{
    margin-right: 5px;
}
main{
    color:#262322;

}
a{
    color: #3066BE;
    text-decoration: none;
}
a:hover{
    color: #090C9B;
    text-decoration: underline;
}
a:focus{
    color: blue;
}
h2{
    margin: 0px;
    font-size: 35px;

}
h1,h2{
    font-family: 'Caveat', cursive;
    font-weight: 600;
}
h3{
    margin-bottom: 2px;
    font-size: 20px;
}
span{
    font-weight: 600;
    font-style: italic;
}
.wrap{
    max-width: 1100px;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}


/*------------------------Profile Start--------------------------*/
h1{
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
}
.header-wrap{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
}
header{
    /* background-color:#00E0CA ; */
    background-image: url("../images/test72.jpg");
    background-position:bottom;
    background-attachment: fixed;
    background-size: cover;
}
header h2{
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    padding-bottom: 5px;
}

.justformobile{
    display: none;
}

/*------------------------Key skills--------------------------*/

.keyskills{
    background-color: #A8CCC9;
    /* background-image: url("../images/annie-spratt-unsplash.jpg"); */ 
    background-image: url("../images/test7.png");
    background-position:bottom;
    background-attachment: fixed;
    /* background-size: 100%; */
    background-size: cover;

}


.keyskill-item{
    overflow: hidden;
}
.keyskill-item img{
    width: 35%;
    margin-right: 10px;
}



.keyskills img{
    vertical-align: middle;
}
.keyskills h2{
    font-size: 35px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}


/*------------------------Project--------------------------*/

.project{
    color: blanchedalmond;
    background-color: #B3D6C6;
    /* background-image: url("../images/annie-spratt-unsplash.jpg"); */
    background-image: url("../images/test5.jpg");
    background-position:bottom;
    background-attachment: fixed;
    /* background-size: 100%; */
    background-size: cover;

}
.project-item{
    border-bottom: 2px dashed #C97D60;
    clear: both;
}
.project-item img{
    margin: 20px;
}

.project-images{
    align-self: center;
    clear: both;
}


#project1image{
    width: 30%;
}
#project2image{
    width: 90%;
}
#project3image{
    width: 60%;
}
.project-detail h2{
    margin: 0px;
    padding:0px;
}



/*------------------------internship, leadership and achivements--------------------------*/
.lam{
    background-color: #F2E5D7;
    background-image: url("../images/joanna-kosinska-unsplash.jpg");
    background-position:top right;
    background-attachment: fixed;
    /* background-size: 100%; */
    background-size: cover;
}
.lam h2{
    margin-top: 20px;
}
.lam p{
    margin: 0px;
    padding: 0px;
    width: 75%;
}
.lam h3{
    width: 80%;
}




/*------------------------Education--------------------------*/

.education{
    background-color: #EAEAEA;
    /* background-image: url("../images/joanna-kosinska-unsplash.jpg"); */
    background-image: url("../images/sharon-mccutcheon-unsplash.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
.education .wrap{
    max-width: 800px;
    width: 85%;
}

.education-item h3 + p{
    font-style: italic;
}
.education-item h3 ~ p{
    margin: 0px;
}



/*------------------------footer--------------------------*/
footer{
    background-color: #CBC5EA;
    text-align: center;
    background-image: url("../images/test74.jpg");
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
}
footer div h2{
    margin-bottom:20px;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    color:blue;
}
.links a:hover{
    color: darkblue;
}

/* --------------------------Responsive------------------------------------ */
@media screen and (max-width:850px)
{
  
    .justfordesktop{
        display: none;
    }
    .justformobile{
        display: block;
    }
    #headeremail{
        display: none;
    }
    .links{
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width:620px)
{
    h1{
        font-size: 50px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
    }
    h2{
        margin: 0px;
        font-size: 25px;
    }
    h3{
        margin-bottom: 2px;
        font-size: 15px;
    }
    p{
        font-size: 14px;
    }
}
@media screen and (min-width:700px)
{
    .project-item{
        overflow: hidden;
        border-bottom: 2px dashed #C97D60;
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
    }
    .project-item:last-of-type{
        border-bottom: none;
    }
    .project-item:last-of-type{
        border-bottom: none;
    }
    .keyskill-item{
        overflow: hidden;
    }
    .keyskill-item img{
        float: left;
        width: 35%;
        margin-right: 20px;  
    }
}

@media screen and (max-width:1050px)
{
    .lam{
        background-image: url("../images/joanna-kosinska-unsplash\(blur\).jpg");
        background-position:top right;
        background-attachment: fixed;
        /* background-size: 100%; */
        background-size: cover;
    }
}